<nav id="app-header">
    <div class="container d-flex align-items-center pt-4 pb-4">
        <a href="https://www.xano.com" target="_blank">
            <img src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"
                 class="logo clickable"
                 width="250px"
            />
        </a>

        <a *ngIf="!apiConfigured else configured" href="https://www.xano.com/request-early-access" target="_blank"
           class="ml-auto">
            <strong>Request Xano Access</strong>
        </a>

        <ng-template #configured>
            <button type="button" class="btn btn-link ml-auto" (click)="openConfigPanel()">
                <strong>Settings</strong>
            </button>
        </ng-template>
    </div>
</nav>

