#wiki-list {

    .card:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .card:not(:first-of-type) {
        margin-top: 25px;
    }

    .wiki-description {
        color: rgb(60, 60, 60)
    }
}
