<section id="wiki-list">
    <div>
        <div class="mb-4 controls d-flex" [formGroup]="searchForm">
            <div>
                <div class="input-group search">
                    <input type="text" class="form-control" placeholder="Search ..." formControlName="search">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">
                            <fa-icon [icon]="search" [fixedWidth]="true"></fa-icon>
                        </button>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary ml-auto add" (click)="addWiki()" *ngIf="loggedIn else loginButton">
                Add Wiki
            </button>
            <ng-template #loginButton>
                <button type="button" class="btn btn-primary ml-auto add" (click)="login()">Login</button>
            </ng-template>
        </div>
    </div>
    <hr class="mt-4 mb-4"/>


    <div *ngIf="wikis.length else Loading">
        <div class="card" *ngFor="let wiki of wikis" [routerLink]="['wiki', wiki.slug]">
            <div class="card-body">
                <h4>{{wiki.title}}</h4>
                <p class="wiki-description">{{wiki.description}}</p>
            </div>
        </div>
    </div>
    <ng-template #Loading>
        <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
            <fa-icon [icon]="spinner" class="loading"></fa-icon>
        </div>
    </ng-template>

</section>



