<div class="panel" [ngClass]="{'active':open}">
    <div class="panel-backdrop" (click)="close()"></div>
    <div class="panel-container">
        <div class="d-flex flex-column h-100" *ngIf="open">
            <app-panel-header [title]='configService.config.title' [description]='configService.config.summary'
                              (onClose)="close()"></app-panel-header>
            <app-panel-info [title]='"Instructions"'
                            [description]='"This app requires authentication, you will need to add an entry into your user table and use the credentials below"'>
            </app-panel-info>
            <div class="panel-details">
                <h4>Login</h4>
                <form (submit)="save()" [formGroup]="loginForm">
                    <p class="highlight-green">None of these are stored permanently</p>
                    <div class="mb-3 mt-3">
                        <label class="form-label mb-0">Email</label>
                        <small class="form-text text-muted mt-0 mb-2">Create an entry in your user table and use
                            here</small>
                        <app-form-generator [form]="loginForm" [name]="'email'" [type]="'email'"
                                            [placeholder]="'Email'" [focus]="true"
                                            [errors]='{"pattern":"Please enter a valid email."}'>
                        </app-form-generator>

                        <br/>
                        <label class="form-label mb-0">Password</label>
                        <app-form-generator [form]="loginForm" [name]="'password'"
                                            [type]="'password'"
                                            [placeholder]="'Password'" [focus]="false">
                        </app-form-generator>
                    </div>
                    <button type="submit" class="d-none"></button>
                </form>
            </div>
            <app-panel-footer (onSave)="save()" [saving]="saving" [saveLabel]="'Login'"
                              [saveIcon]="null"></app-panel-footer>
        </div>
    </div>
</div>
