<div class="panel" [ngClass]="{'active':open}">
    <div class="panel-backdrop" (click)="close()"></div>
    <div class="panel-container side-add" >
        <div class="d-flex flex-column h-100" *ngIf="open">
            <app-panel-header [title]='getTitle()' (onClose)="close()"></app-panel-header>
            <app-panel-info [description]='getDescription()'></app-panel-info>
            <div class="panel-details">
                <form (submit)="save()" [formGroup]="wikiForm">
                    <div class="mb-3 mt-3">
                        <label class="form-label">Title</label>
                        <app-form-generator [form]="wikiForm" [name]="'title'" [type]="'text'"
                                            [placeholder]="'Title of Wiki'" [focus]="true">
                        </app-form-generator>
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="form-label">Slug</label>
                        <app-form-generator [form]="wikiForm" [name]="'slug'" [type]="'text'"
                                            [placeholder]="'Wiki Url'" [focus]="true">
                        </app-form-generator>
                    </div>
                    <div class="mb-3 mt-3">
                        <label class="form-label">Description</label>
                        <app-form-generator [form]="wikiForm" [name]="'description'" [type]="'text'"
                                            [placeholder]="'Description of wiki'" [focus]="true">
                        </app-form-generator>
                    </div>

                    <label class="form-label">Content</label>
                    <div class="mb-3 mt-2" style="background-color: white; color: black">
                        <quill-editor [modules]="modules" formControlName="content">
                        </quill-editor>
                    </div>
                    <div>
                        <label class="form-label">Tags</label>
                        <tag-input [formControl]="tagInput"
                                   theme="bootstrap"
                                   [modelAsStrings]="true">
                        </tag-input>
                    </div>
                    <button type="submit" class="d-none"></button>
                </form>
            </div>
            <app-panel-footer *ngIf="data.item" (onDelete)="delete()" [deleting]="deleting" (onSave)="save()"
                              [saving]="saving" [saveLabel]="getLabel()" [saveIcon]="null"></app-panel-footer>
            <app-panel-footer *ngIf="!data.item" (onSave)="save()" [saving]="saving" [saveLabel]="getLabel()"
                              [saveIcon]="null"></app-panel-footer>
        </div>
    </div>
</div>
