.panel-info {
    display: flex;
    background: #1C1C1C;
    padding: 20px 10px;

    &.push-down {
        margin-top: 78px;
    }

    .titles {
        h1 {
            color: #FFF;
            font-weight: 400;
            font-size: 18px;
            margin: 0;
        }

        p {
            color: #A7A7A7;
            font-size: 14px;
            margin: 2px 0 0 0;
        }
    }

    &.delete {
        background-color: #b91c2a;

        .titles {
            h1,
            p {
                color: #FFF;
            }
        }
    }

    &.warning {
        background-color: #fff3cd;

        .titles {
            h1,
            p {
                color: #856404;
            }
        }
    }

    &.success {
        background-color: #28a745;

        .titles {
            h1,
            p {
                color: #fff;
            }
        }
    }
}
