<section id="wiki-view">
    <hr class="mt-4 mb-4"/>
    <div class="d-flex flex-column" *ngIf="wiki">
        <div class="alert alert-warning d-flex justify-content-center align-items-center" role="alert" *ngIf="wiki.wiki_id">
            <div>Viewing wiki history edit from {{wiki.user.name}}</div>
            <button class="btn btn-link" (click)="wiki=latestWiki">View Latest </button>

        </div>
        <div class="wiki-header d-flex flex-column flex-md-row">
            <h2 class="d-none d-md-block">{{wiki?.title}}</h2>
            <button type="button" class="btn btn-secondary ml-md-auto mr-md-2 mb-md-0 mb-2" [routerLink]="['']">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
                All Wikis
            </button>
            <button type="button" class="btn btn-info mr-md-2 mb-md-0 mb-2" *ngIf="wiki" (click)="showHistoryFn(wiki?.wiki_id ? wiki.wiki_id : wiki.id)">
                <fa-icon [icon]="faClock"></fa-icon>
                History
            </button>
            <button type="button" class="btn btn-primary add mb-md-0 mb-2" (click)="editWiki(wiki)" *ngIf="loggedIn else loginButton">
                <fa-icon [icon]="faEdit"></fa-icon>
                Edit
            </button>
            <ng-template #loginButton>
                <button type="button" class="btn btn-primary" (click)="login()">Login</button>
            </ng-template>
            <h2 class="d-block d-md-none mt-4">{{wiki?.title}}</h2>
        </div>

        <div *ngIf="!showHistory else History">
            <div>
                <hr class="mt-4 mb-4"/>
                <h4 class="mb-2">Description</h4>
                {{wiki?.description}}
            </div>

            <div class="wiki-content">
                <hr class="mt-4 mb-4"/>
                <div [innerHTML]="wiki?.content | safeHtml">
                </div>
            </div>

            <div>
                <hr class="mt-4 mb-4"/>
                <h4 class="mb-2">Tags</h4>
                <div class="d-flex">
                    <h4 *ngFor="let tag of wiki?.tags"><span class="badge badge-info mr-2">{{tag}}</span></h4>
                </div>
            </div>
        </div>

        <div *ngIf="!wiki">
            <div class="d-flex flex-column justify-content-center align-items-center" *ngIf="!loading else Loading">
                <h4><fa-icon [icon]="faExclamation"></fa-icon></h4>
                <p class="mt-4">The wiki you are looking for is not here! Perhaps you should post it.</p>
                <button *ngIf="!loggedIn else post" (click)="login()" class="btn btn-success">Login</button>
                <ng-template #post>
                    <button (click)="addWiki()" class="btn btn-success">Add Wiki</button>
                </ng-template>
            </div>

            <ng-template #Loading>
                <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">
                   <fa-icon [icon]="faSpinner" class="loading"></fa-icon>
                </div>
            </ng-template>

        </div>
    </div>

    <ng-template #History>
        <div class="mb-4">
            <hr class="mt-4 mb-4"/>
            <h4>Edit History</h4>
        </div>

        <table class="table table-striped wiki-history" *ngIf="wikiHistory.length else noHistory">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Editted By</th>
                <th scope="col">Edit Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let edit of wikiHistory" (click)="viewVersion(edit)">
                <th scope="row">{{edit.id}}</th>
                <td>
                    {{ edit.user.name }}
                </td>
                <td>{{ edit.created_at | date:'short' }}</td>
            </tr>
            </tbody>
        </table>

        <ng-template #noHistory>
            <div class="d-flex flex-column justify-content-center align-items-center w-100">
                <h4><fa-icon [icon]="faExclamation"></fa-icon></h4>
                <p class="mt-4">No Wiki History Available!</p>
            </div>
        </ng-template>
    </ng-template>
</section>
