/* You can add global styles to this file, and also import other style files */

@import "assets/styles/vars";
@import "assets/styles/panel";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.bubble.css';
@import '~quill/dist/quill.snow.css';

html,
body {
    background-color: #F8F8F8;
    min-height: 100vh;

    .xano-header {
        a {
            color: white;
        }
    }

    .highlight-green {
        color: #A5D744;
    }

    .text-muted {
        color: #cfcfcf !important;
        font-size: 14px;
    }
}

.logo {
    width: 240px;
    height: 80px;
}

.clickable {
    cursor: pointer;
}

.container {
    .header {
        font-size: 36px;
        font-weight: 800;
        letter-spacing: -1px;
    }

    .sub-header {
        font-size: 25px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .btn-icon {
        width: 50px;
    }

    .btn-config {
        background-color: #122638;
        color: #fff;
        padding: 20px;
        border: 1px solid #122638;
        border-radius: 28px;

        &.btn-post-config {
            position: absolute;
            top: 135px;
            right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:hover {
            color: #fff;
            border: 1px solid #122638;
        }
    }

    .auth-btn {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px 20px;
        background-color: #FFF;
        color: #333;
        font-weight: bold;
        font-size: 17px;

        .btn-google {
            background-color: #FFF;
            color: #333;
        }
    }
}
.ng2-tag-input input {
    background-color: transparent!important;
    color: whitesmoke;
}

.loading {
    animation:spin 4s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


