@import "vars";

.panel {
    // display: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    .panel-backdrop {
        display: none;
        transition: all 0.5s ease;
    }

    .panel-container {
        transition: all 0.5s ease;
        width: 350px;
        height: 100%;
        background: #FFF;
        z-index: 2001;
        position: fixed;
        right: -360px;
        top: 0;

        .header-bar {
            padding: 10px;
        }

        .search-bar {
            padding: 10px;
            border-bottom: 1px solid #e6e6e6;
        }


        .panel-details {
            color: white;
            flex: 1 1 auto !important;
            visibility: visible;
            display: block;
            padding: 20px 20px;
            background-color: $color-dark-accent;
            height: auto !important;
            overflow: visible;

            h3 {
                font-size: 18px;
                font-weight: bold;
            }

            .label {
                font: 600 13px/15px "SF Mono";
                letter-spacing: -0.13px;
                color: #C3C3C3;
            }
        }
    }

    &.active {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        z-index: 100000000;

        .panel-backdrop {
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
            display: block;
            position: fixed;
            background: #000;
            opacity: 0.8;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 2000;
        }

        .panel-container {
            transition: all 0.5s ease;
            right: 0;
            overflow: initial;
            position: absolute;
            height: 100%;
            top: 0;
            bottom: 0;

            .panel-details {
                overflow: visible;
                padding: 20px 20px 20px 20px;

                &.inner {
                    padding: 0 0 20px 0 !important;
                }

                .inner {
                    .dropdown-menu {
                        &.show {
                            z-index: 10000;
                        }
                    }
                }
            }
        }
    }
}
