<section id="home">
    <div *ngIf="!configured else wikiList">
        <button type="button" class="btn btn-primary" (click)="openPanel()">
            Test with your Xano account...
        </button>
        <a *ngIf="config.editLink" [href]="config.editLink" class="ml-4" target="_blank">{{config.editText}}</a>
        <hr class="mt-4 mb-4"/>
        <div [innerHTML]="config.descriptionHtml | safeHtml"></div>
    </div>

    <ng-template #wikiList>
        <hr class="mt-4 mb-4"/>
        <app-wiki-list></app-wiki-list>
    </ng-template>
</section>
